# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Database
*.db
*.sqlite
*.sqlite3
db/*
!db/.gitkeep

# Config (real configs, not templates)
config/config.yaml
config/*.env
.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

#md files
notes.md